.container {
  margin: 4rem auto 10rem auto;
  border: 2px solid var(--light-green);
  box-sizing: border-box;
  padding-left: 5rem;
  border-radius: 7px;
}
.content {
  width: 80%;
}

.passRecoveryHeader {
  padding-top: 3rem;
  font-weight: 600;
  text-align: left;
  font-size: 1.5rem;
  width: 85%;
}

.passRecoveryPara {
  padding: 1.5rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.passRecoveryForm {
  padding: 2rem 0rem;
  width: 85%;
}

.passLabel {
  font-weight: bold;
  font-size: 1rem;
}

.passRecoveryForm input {
  border: 2px solid var(--light-green) !important;
  border-radius: 5px;
  padding: 1rem 0rem 1rem 1.2rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.passRecoveryForm::placeholder {
  color: var(--primary-green) !important;
}

.passRecoveryBtn {
  color: #fff;
  background-color: var(--primary-green);
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: larger;
}

@media screen and (max-width: 500px) {
  .container {
    padding-left: 2rem;
  }
  .passRecoveryForm input {
    font-size: 0.6rem;
    padding-left: 0.2rem;
  }
}

@media screen and (max-width: 650px) {
  .passRecoveryForm input {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}
