<div class="container content">
  <h2 class="passRecoveryHeader">Password Recovery</h2>
  <p class="passRecoveryPara">* Required</p>

  <form action="" class="passRecoveryForm">
    <div class="form-group">
      <label for="full-name" class="fullNameLabel passLabel">*</label>
      <input type="text" id="full-name" class="form-control border d-block" placeholder="Full Name">
    </div>

    <div class="form-group">
      <label for="phone-number" class="passLabel">*</label>
      <input type="text" id="regPhoneNumber" class="form-control border d-block" placeholder="Registered Phone No./Email">
    </div>

    <div class="form-check-inline d-flex justify-content-between">
      <button type="submit" class="passRecoveryBtn" routerLink="/home">Submit</button>
      <!-- <a href="http://" target="_blank" rel="noopener noreferrer" class="passRecoveryLink forgotPass" routerLink="/home">Canel.</a> -->
    </div>

  </form>

</div>