.container {
  margin: 4rem auto 10rem auto;
  border: 2px solid var(--light-green);
  box-sizing: border-box;
  padding-left: 5rem;
  border-radius: 7px;
}
.content {
  width: 75%;
}

.createNewHeader {
  padding-top: 3rem;
  font-weight: 600;
  text-align: left;
  font-size: 1.7rem;
  width: 85%;
}

.createNewPara {
  font-size: 1.2rem;
  font-weight: 600;
}

.createNewForm {
  padding: 2rem 0rem;
  width: 85%;
}

.createNewLabel {
  padding-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.createNewForm input {
  border: 2px solid var(--light-green) !important;
  border-radius: 5px;
}

.createNewForm::placeholder {
  color: var(--primary-green) !important;
  font-size: 1.5rem;
}

.submitFormBtn {
  color: #fff;
  background-color: var(--primary-green);
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: larger;
}

@media screen and (max-width: 550px) {
  .container {
    padding-left: 2.5rem;
  }
  .createNewPara {
  }
}
