<div class="wrapper-container">
  <h2 class="otpPasswordTopHeader">Complete your password recovery process</h2>
  
  <div class="container content">
    <h2 class="otpPasswordHeader">Type in the 6-digit code sent to</h2>
    <h2 class="otpPasswordHeader2 otpPasswordNumber">+2348070000000</h2>

    <form action="" class="otpPasswordForm" [formGroup]="otpPasswordForm" (ngSubmit)="onSubmit()">

      <div class="form-group">

        <label for="otp-number" class="otpPasswordLabel"></label>
        <input (keypress)="keyPress($event)"
          type="text" 
          formControlName="otpnumber"
          id="otp-number" 
          class="form-control border d-block mb-4" 
          placeholder="Enter 6 digit code"
          [ngClass]="{ 'is-invalid': submitted && f.otpnumber.errors }">
        
        <div *ngIf="submitted && f.otpnumber.errors" class="invalid-feedback">
          <div *ngIf="f.otpnumber.errors.required">6 digit code is required</div>
          <div *ngIf="f.otpnumber.errors.pattern || f.otpnumber.errors.maxlength || f.otpnumber.errors.minlength">Code must be 6 digits</div>
        </div>

      </div>

      <div class="form-check-inline d-flex justify-content-between">
        <button type="submit" class="submitFormBtn">Submit</button>
        
      </div>

    </form>

  </div>
</div>