.otpPasswordTopHeader {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  padding-top: 4rem;
}

.container {
  margin: 4rem auto 10rem auto;
  border: 2px solid var(--light-green);
  box-sizing: border-box;
  padding-left: 5rem;
  border-radius: 7px;
}
.content {
  width: 80%;
}

.otpPasswordHeader {
  padding-top: 3rem;
  font-weight: 600;
}

.otpPasswordNumber {
  color: var(--primary-green);
}

.otpPasswordHeader,
.otpPasswordNumber {
  text-align: left;
  font-size: 1.5rem;
  width: 85%;
}

.otpPasswordForm {
  padding: 2rem 0rem;
  width: 85%;
}

.otpPasswordLabel {
  padding-bottom: 2rem;
  font-weight: bolder;
  font-size: 1.5rem;
}

.otpPasswordForm input {
  border: 2px solid var(--light-green) !important;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 1rem;
}

.otpPasswordForm::placeholder {
  color: var(--primary-green) !important;
  font-size: 1.5rem;
}

.submitFormBtn {
  color: #fff;
  background-color: var(--primary-green);
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: larger;
}

@media screen and (max-width: 650px) {
  .container {
    padding-left: 2.7rem;
  }
  .otpPasswordTopHeader {
    font-size: 1.5rem;
  }
  .otpPasswordHeader,
  .otpPasswordNumber {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .otpPasswordTopHeader {
    font-size: 2rem;
  }
}
