<div class="wrapper-container">
  <h2 class="otpPasswordTopHeader">Complete your password recovery process</h2>
  
  <div class="container content">
    <h2 class="otpPasswordHeader">Type in the 6-digit code sent to</h2>
    <h2 class="otpPasswordHeader2 otpPasswordNumber">+2348070000000</h2>

    <form action="" class="otpPasswordForm">
      <div class="form-group">
        <label for="phone-number" class="otpPasswordLabel"></label>
        <input type="text" id="phone-number" class="form-control border d-block mb-4" placeholder="Phone Number">
      </div>

      <div class="form-check-inline d-flex justify-content-between">
        <button type="submit" class="submitFormBtn" routerLink="/create-password" routerLink="/complete-signup">Submit</button>
        
      </div>

    </form>

  </div>
</div>