<div class="wrapper-container">

  <div class="container content">
    <h2 class="loginHeader">Login Here</h2>
    <p class="loginPara">* Required</p>

    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="loginForm">
      
      <div class="form-group">

        <label for="phone-number" class="loginLabel"></label>
        <input (keypress)="keyPress($event)" 
          type="text" 
          formControlName="phonenumber" 
          id="phone-number" 
          class="form-control border d-block" 
          placeholder="Phone Number" 
          required 
          [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }">
        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
          <div *ngIf="f.phonenumber.errors.required">Phone number is required</div>
          <div *ngIf="f.phonenumber.errors.pattern || f.phonenumber.errors.maxlength || f.phonenumber.errors.minlength">Phone number must be at least 11 numbers</div>
        </div>
        
      </div>

      <div class="form-group">
        <label for="password"></label>
        <input 
          type="password" 
          formControlName="password" 
          class="form-control border d-block" 
          id="inputPassword1" 
          placeholder="Password" required 
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
          
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>

      </div>

      <div class="form-check">
        <div class="form-check-inline ">
          <div class="">
            <input type="checkbox" class="form-check-input mb-0" id="Check1">
            <label class="form-check-label" for="Check1">Remember Me</label>
          </div>
          <div>
            <a href="http://" rel="noopener noreferrer" class="loginLink regHere" routerLink="/sign-up">Not registered? Registered here.</a>
          </div>
        </div>
      </div>

      <div class="form-check-inline">
        <button type="submit" class="loginFormBtn">Login</button>
        <a href="http://" rel="noopener noreferrer" class="loginLink forgotPass" routerLink="/password-recovery" >Forgotten Password? Click here.</a>
      </div>

    </form>

  </div>

  <div class="backToHome">
    <a href="" class="backToHomeText" routerLink="/Home"><i class="fa fa-angle-left" aria-hidden="true"></i>   Back to Home Page</a>
  </div>

</div>
  