<div class="wrapper-container">

  <h2 class="signUpHeader">Ready to explore the unlimited opportunities in Agricultural sector?</h2>
  <div class="container content">

    <form #form="ngForm" action="" class="signUpForm">

      <div class="form-group">
        <label for="phone-number" class="signUpLabel">Sign up for free</label>
        <input type="text" id="phone-number" class="form-control border d-block" placeholder="Phone Number">
      </div>

      <div class="form-check-inline d-flex justify-content-between">
        <button type="submit" class="nextFormBtn" routerLink="/token-validation">Next</button>
        <a href="http://" rel="noopener noreferrer" class="signUpLink forgotPass" routerLink="/login">Already registered? Login here.</a>
      </div>

    </form>

  </div>
</div>
  