<div class="wrapper-container">
  <h2 class="tokenTopHeader">Verify Your Phone Number</h2>
  
  <div class="container content">
    <h2 class="tokenHeader">Type in the 6-digit code sent to</h2>
    <h2 class="tokenHeader2 tokenNumber">+2348070000000</h2>

    <form action="" class="tokenForm">
      <div class="form-group">
        <label for="phone-number" class="tokenLabel"></label>
        <input type="text" id="phone-number" class="form-control border d-block mb-4 p-4" placeholder="Phone Number">
      </div>

      <div class="form-check-inline d-flex justify-content-between">
        <button type="submit" class="nextFormBtn" routerLink="/token-validation" routerLink="/complete-signup">Next</button>
        <a href="http://" rel="noopener noreferrer" class="tokenLink" routerLink="/sign-up">Not my Phone Number</a>
      </div>

    </form>

  </div>
</div>