<div class="wrapper-container">
  <h2 class="tokenTopHeader">Verify Your Phone Number</h2>
  
  <div class="container content">
    <h2 class="tokenHeader">Type in the 6-digit code sent to</h2>
    <h2 class="tokenHeader2 tokenNumber">+2348070000000</h2>

    <form action="" [formGroup]="tokenForm" (ngSubmit)="onSubmit()" class="tokenForm">

      <div class="form-group">

        <label for="token-number" class="tokenLabel"></label>
        <input (keypress)="keyPress($event)"  
            type="text" 
            formControlName="tokennumber"  
            id="token-number" 
            class="form-control border d-block mb-4 p-4" 
            placeholder="Enter 6 digit code"  
            [ngClass]="{ 'is-invalid': submitted && f.tokennumber.errors }">

        <div *ngIf="submitted && f.tokennumber.errors" class="invalid-feedback">
          <div *ngIf="f.tokennumber.errors.required">6 digit code is required</div>
          <div *ngIf="f.tokennumber.errors.pattern || f.tokennumber.errors.maxlength || f.tokennumber.errors.minlength">Code must be 6 digits</div>
        </div>

      </div>

      <div class="form-check-inline d-flex justify-content-between">
        <button type="submit" class="nextFormBtn" >Next</button>
        <a href="http://" rel="noopener noreferrer" class="tokenLink" routerLink="/sign-up">Not my Phone Number</a>
      </div>

    </form>

  </div>
</div>