<div class="container-fluid">
	<div class="card my-4 profile mx-auto">
		<div class="row no-gutters">
			<div class="col-md-4">
				<img src="././assets/logos/icons8-male-user-48.png" class="card-img" alt="">
			</div>
			<div class="col-md-8 d-flex align-items-center position-relative border-left business-details-parent">
				<div class="card-body business-details-primary">
					<h5 class="card-title font-weight-bold">Caleb Dogo</h5>
					<p class="card-text">Address</p>
					<p class="card-text">LGA,State, Country.</p>
					<p class="card-text">Dogocaleb@gmail.com</p>
					<p class="card-text">+2348087637689</p>
				</div>
				<button class="regNewBtn px-3 py-2 text-center rounded text-white ml-3 position-absolute newbtn">Edit Profile</button>
			</div>
		</div>
	</div>
</div>

<div class="profile-business-details">
	<div class="business-details">
		<div class="business-nav border-top border-bottom d-flex align-items-end justify-content-between">
			<div class="arrow-left"><a href="http://"><img src="././assets/logos/icons8-prev-48.png" class="arrowleft" alt=""></a></div>
			<div class="carousel">
				<nav class="business-heading overflow-hidden">
					<ul class="businesses slide nav-tabs">
						<div class="carousel__snapper"></div>
						<li class="businesses-items d-inline-block mr-3 text-center px-4 py-2"><a href="http://" class="business-link" data-toggle="tab" href="#home">Adama Farms</a></li>
						<li class="businesses-items mx-3 text-center px-4 py-2 d-none d-sm-inline-block"><a href="http://" class="business-link" data-toggle="tab" href="#trans">Amdala Transports</a></li>
						<li class="businesses-items mx-3 text-center px-4 py-2 d-none d-md-inline-block"><a href="http://" class="business-link" data-toggle="tab" href="#agro">Dogo Agro-chemicals</a></li>
						<li class="businesses-items mx-3 text-center px-4 py-2 d-none d-lg-inline-block"><a href="http://" class="business-link" data-toggle="tab" href="#retails">Dogo Retails</a></li>
						<li class="businesses-items mx-3 text-center px-4 py-2"><a href="http://" class="business-link" data-toggle="tab" href="#chemicals">Dogo Chemicals</a></li>
						<li class="businesses-items ml-3 text-center px-4 py-2 d-none d-xl-inline-block"><a href="http://" class="business-link" data-toggle="tab" href="#dist">Dogo distributors</a></li>
					</ul>
					<ul class="businesses slide d-none">
						<div class="carousel__snapper"></div>
						<li class="businesses-items d-inline-block mr-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Adama Farms</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Amdala Transports</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo Agro-chemicals</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo Retails</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo Chemicals</a></li>
						<li class="businesses-items d-inline-block ml-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo distributors</a></li>
					</ul>
					<ul class="businesses slide d-none">
						<div class="carousel__snapper"></div>
						<li class="businesses-items d-inline-block mr-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Adama Farms</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Amdala Transports</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo Agro-chemicals</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo Retails</a></li>
						<li class="businesses-items d-inline-block mx-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo Chemicals</a></li>
						<li class="businesses-items d-inline-block ml-3 text-center px-4 py-2"><a href="http://" class="business-link text-white">Dogo distributors</a></li>
					</ul>
				</nav>
			</div>
			<div class="arrow-right"><a href="http://"><img src="././assets/logos/icons8-right-button-48.png" class="arrowright" alt=""></a></div>
		</div>

		<div class="business-details">
			<div class="detail-spacing profile d-block mx-auto d-flex border-bottom pb-5">

				<div class="container-fluid tab-content">
					<div class="row">
						
						<div class="bd-align col-lg-9">
							<div class="business-detail-about">
								<div class="card mb-3 my-5">
									<div class="row no-gutters entail">
										<div class="col-md-4">
											<img src="././assets/images/businessImage.png"  class="card-img" alt="...">
										</div>
	
										<div class="col-md-8">
											<div class="card-body business-details-secondary">
												<h5 class="card-title font-weight-bold bd-heading">Adama Farms Nigeria Limited</h5>
												<p class="card-text">Address</p>
												<p class="card-text">LGA,State, Country.</p>
												<p class="card-text">Dogocaleb@gmail.com</p>
												<p class="card-text">Inquiry@adamafarmsnigerialimited.com</p>
												<p class="card-text">+2348087637689</p>
											</div>
										</div>
	
									</div>
								</div>
	
								<div class="business-details-info mt-5">
									<h3 class="business-title font-weight-bold mb-2">Business Description</h3>
									<p class="business-details-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eaque doloribus aspernatur amet aliquid cum labore eius porro ab minus suscipit dolore, harum odio molestiae voluptatum dicta in? Quia, eligendi laudantium. Quidem doloremque animi voluptatem inventore, necessitatibus veniam quos alias repellat doloribus, omnis perferendis vel mollitia asperiores totam nulla vitae reprehenderit? Quae totam, amet voluptates voluptate exercitationem officiis in sit molestiae eum consequatur, illum qui mollitia eligendi. Assumenda similique iste earum tenetur cupiditate molestiae vero? Sed ratione labore aliquid blanditiis saepe natus laborum modi inventore similique, voluptatum praesentium delectus nulla eos rem facilis illo sint corporis voluptatibus ex tenetur necessitatibus.
									</p>
								</div>
								<button class="regNewBtn p-2 mx-auto rounded text-white reg">Edit Business Details</button>
								<button class="regNewBtn p-2 ml-5 rounded text-white reg">Add Business</button>
							</div>
						</div>

						<div class="business-detail-products col-lg-3 border-left">
							<h3 class="current-product text-white text-center font-weight-bold px-4 py-2 mb-3">Current Products</h3>
							<!-- <div class="add-product text-right border-bottom">
								<button class="regNewBtn text-white px-4 py-2 font-weight-bold"><i class="fa fa-plus text-white pr-1" aria-hidden="true"></i>Add product
								</button>
							</div> -->

							<div class="add-product-details pl-3">

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Cereals/Grains</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories()' *ngIf = 'shownCategories'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories()' *ngIf = 'showCategories'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Rice</div>
											<div class="add-product-grid px-3 border-left">50 bags</div>
											<div class="add-product-grid px-3">Maize</div>
											<div class="add-product-grid px-3 border-left">40 Bags</div>
											<div class="add-product-grid px-3">Millet</div>
											<div class="add-product-grid px-3 border-left">50 Bags</div>
											<div class="add-product-grid px-3">Guinea Corn</div>
											<div class="add-product-grid px-3 border-left">40 Bags</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Root/Tuber</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories1()' *ngIf = 'shownCategories1'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories1()' *ngIf = 'showCategories1'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories1'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Yam</div>
											<div class="add-product-grid px-3 border-left">50 bags</div>
											<div class="add-product-grid px-3">Cassava</div>
											<div class="add-product-grid px-3 border-left">60 Bags</div>
											<div class="add-product-grid px-3">Potato</div>
											<div class="add-product-grid px-3 border-left">40 Bags</div>
											<div class="add-product-grid px-3">Carrot</div>
											<div class="add-product-grid px-3 border-left">60 Bags</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Legumes</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories2()' *ngIf = 'shownCategories2'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories2()' *ngIf = 'showCategories2'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories2'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Groundnut</div>
											<div class="add-product-grid px-3 border-left">100 bags</div>
											<div class="add-product-grid px-3">Soyabeans</div>
											<div class="add-product-grid px-3 border-left">80 Bags</div>
											<div class="add-product-grid px-3">Cowpeas</div>
											<div class="add-product-grid px-3 border-left">70 Bags</div>
											<div class="add-product-grid px-3">Tigernut</div>
											<div class="add-product-grid px-3 border-left">80 Bags</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Vegetables</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories3()' *ngIf = 'shownCategories3'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories3()' *ngIf = 'showCategories3'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories3'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Cabbage</div>
											<div class="add-product-grid px-3 border-left">40 bags</div>
											<div class="add-product-grid px-3">Cucumber</div>
											<div class="add-product-grid px-3 border-left">30 Bags</div>
											<div class="add-product-grid px-3">Lettuce</div>
											<div class="add-product-grid px-3 border-left">60 Bags</div>
											<div class="add-product-grid px-3">Egg Plant</div>
											<div class="add-product-grid px-3 border-left">50 Bags</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Spices</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories4()' *ngIf = 'shownCategories4'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories4()' *ngIf = 'showCategories4'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories4'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Pepper</div>
											<div class="add-product-grid px-3 border-left">50 Baskets</div>
											<div class="add-product-grid px-3">Tomatoes</div>
											<div class="add-product-grid px-3 border-left">70 Baskets</div>
											<div class="add-product-grid px-3">Tatashe</div>
											<div class="add-product-grid px-3 border-left">60 Baskets</div>
											<div class="add-product-grid px-3">Onions</div>
											<div class="add-product-grid px-3 border-left">70 Baskets</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Fruits</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories5()' *ngIf = 'shownCategories5'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories5()' *ngIf = 'showCategories5'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories5'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Watermelon</div>
											<div class="add-product-grid px-3 border-left">300 Balls</div>
											<div class="add-product-grid px-3">Orange</div>
											<div class="add-product-grid px-3 border-left">40 Bags</div>
											<div class="add-product-grid px-3">Mango</div>
											<div class="add-product-grid px-3 border-left">50 Bags</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Poultry</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories6()' *ngIf = 'shownCategories6'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories6()' *ngIf = 'showCategories6'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories6'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Chicken</div>
											<div class="add-product-grid px-3 border-left">50 birds</div>
											<div class="add-product-grid px-3">Eggs</div>
											<div class="add-product-grid px-3 border-left">200 Crates</div>
										</div>
									</div>
								</div>

								<div class="product-details border-bottom py-2">
									<div class="add-product-head">-<span class="product-name px-2">Fishery</span><img src="././assets/logos/icons8-drop-down-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories7()' *ngIf = 'shownCategories7'><img src="././assets/logos/icons8-collapse-48.png" alt="" class="add-product-icon" (click) = 'toggleCategories7()' *ngIf = 'showCategories7'>
										<div class="add-product-options ml-4 mt-2" *ngIf = 'showCategories7'>
											<div class="add-product-grid font-weight-bold text-white border-bottom px-2">Product</div>
											<div class="add-product-grid sfont-weight-bold text-white border-left border-bottom px-2">Current Capacity</div>
											<div class="add-product-grid px-3">Catfish</div>
											<div class="add-product-grid px-3 border-left">100 fishes</div>
											<div class="add-product-grid px-3">Tilapia fish</div>
											<div class="add-product-grid px-3 border-left">200 fishes</div>
										</div>
									</div>
								</div>

							</div>
							<button class="regNewBtn p-2 ml-3 rounded text-white reg">Edit Profile</button>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

