<div class="addBiz-container">
  <h2 class="addbusinessTopHeader">Want to add a new Business details?</h2>

  <div class="addBizcontainer content">
    <h2 class="addBusinessHeader">Add Business Details</h2>
    <p class="addBusinessPara">* Required</p>

    <form action="" class="addBusinessForm">

      <div class="form-group">
        <label for="addBusinessName">*</label>
        <input type="text" id="addBusinessName" class="form-control border d-block  " placeholder="Business/Company Name">
      </div>

      <label for="addBusinessInline">*</label>
      <div class="form-group addBusinessInline2">

        <select class="form-control   d-block w-100 border" name="country" id="country" placeholder="Country">
          <option value="" selected disabled>Country</option>
          <option value="" >Nigeria</option>
          <option value="">Camerooun</option>
          <option value="">Ghana</option>
        </select>
        
        <select class="form-control   d-block w-100 border"name="state" id="state" placeholder="State">
          <option value="">Yola</option>
          <option value="">Taraba</option>
          <option value="">Gombe</option>
          <option value="">Jos</option>
        </select>

        <select class="form-control   first-name d-block w-100 border" name="LGA" id="lga" placeholder="LGA">
          <option value="">Yola North</option>
          <option value="">Yola South</option>
        </select>
        
			</div>

      <div class="form-group">
        <label for="address">*</label>
        <input type="text" class="form-control border d-block  " id="address" placeholder="Address">
      </div>

      <div class="form-group">
        <label for="street">*</label>
        <input type="address" class="form-control border d-block  " id="street" placeholder="Street">
      </div>

      <div class="form-group">
        <label for="phoneNumber">*</label>
        <input type="text" class="form-control border d-block  " id="phoneNumber" placeholder="phone Number">
      </div>
      
      
      <div class="form-group">
        <label for="cac">*</label>
        <select class="form-control d-block border" id="cac" name="cac">
          <option value="0" selected disabled>Is your business registered with CAC?:</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
                
      </div>

      <div class="form-group">
        <label for="cacNumber">*</label>
        <input type="text" class="form-control border d-block  " id="cacNumber" placeholder="If yes, kindly fill in the CAC Number here.">
      </div>

      <label class="w-100" for="">*
        <div class="form-group custom-file">
            <input type="file" class="custom-file-input form-control" id="customFile" onchange="this.nextElementSibling.innerText = this.files[0].name" accept=".png, .jpg, .jpeg" required>
            <label class="custom-file-label form-control border d-block" for="customFile">Company Logo</label>     
        </div>
      </label>


      <div class="form-group">
				<label for="textareaCacNumber" class="textareaLabel">*</label>
				<textarea name="textareaCacNumber" id="textareaCacNumber" class="contact-us-input form-control border textareaCacNumber" cols="95" rows="7" placeholder="Fill in company description here."></textarea>
		</div>

      <div class="form-check-inline">
        <button type="submit" class="businessFormBtn">Save</button>
      </div>

    </form>

  </div>

  <div class="backToHome">
    <a href="" class="backToHomeText" routerLink="/home"><i class="fa fa-angle-left" aria-hidden="true"></i>   Back to Home Page</a>
  </div>

</div>
  