
<!-- main-content -->

<main class="main">
	<!-- [ngStyle]="{backgroundImage:'url(././assets/images/Farmer-pix.png)'}" -->

	<div class="connect w-100 mb-5">

		<div class="img-connect w-100">
			<img src="././assets/images/Farmer-pix.png" alt="" class="connect-img w-100">
			<div class="connect-local">
				<div class="near-img d-md-none mt-3" style="width: 80px; background-color: var(--primary-green);"><img src="././assets/logos/Logo-2.png" alt="LOGO" srcset="" class="nearby-logo w-100"></div>
				<div class="pos-center">
					<h1 class="connect-local-heading font-weight-bold">Connect with local Farmer</h1>
					<p class="connect-local-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora reiciendis maior.</p>
					<form action="" method="post" class="connect-local-form container-fluid">
						<div class="row align-items-center">
							<!-- <label for="cars">Choose a car:</label> -->
							<select id="country" class="select-country col bg-transparent p-2">
								<option value="Nigeria" class="option">Nigeria</option>
								<option value="Ghana" class="option">Ghana</option>
								<option value="Togo" class="option">Togo</option>
								<option value="Cameroon" class="option">Cameroon</option>
							</select>
							<input type="search" name="" id="" class="connect-local-input col-6 p-2" placeholder="Type in here">
							<button type="submit" class="connect-local-btn col p-2" routerLink="/search-result">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>

	</div>

	<div class="pad mx-auto">



		<div class="container-fluid mb-5">
			<div class="about-us-section row align-items-center">
				<div class="about-us-pic col-md-6 p-3">
					<img src="././assets/images/About-Us-Pix.png" alt="" class="about-us-img w-100">
				</div>
				<div class="about-us-info col-md-6 p-3">
					<h2 class="about-us-heading font-weight-bold">About Us</h2>
					<p class="about-us-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim repudiandae dolor eos ex sapiente, quaerat labore, facere accusantium numquam sequi culpa magni aut ducimus explicabo dicta. Soluta molestias accusantium maxime qui officiis voluptates eaque dolore tempore omnis ullam quos dolorem, repellat itaque culpa eius velit sint asperiores harum quia, a fuga aliquam molestiae aut ad? Placeat quasi cum magni in assumenda officiis quaerat,
					</p>
					<button type="submit" class="readmore">Read More</button>
				</div>
			</div>
		</div>



		<div class="container-fluid mb-5">
			<div class="about-us-section row align-items-center w-100">
				<div class="about-us-pic col-md-6 p-3">
					<img src="././assets/images/Knowledge-Base-Pix.png" alt="" class="about-us-img w-100">
				</div>
				<div class="about-us-info col-md-6 p-3 order-md-first">
					<h2 class="about-us-heading font-weight-bold">Knowledge Base</h2>
					<p class="about-us-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim repudiandae dolor eos ex sapiente, quaerat labore, facere accusantium numquam sequi culpa magni aut ducimus explicabo dicta. Soluta molestias accusantium maxime qui officiis voluptates eaque dolore tempore omnis ullam quos dolorem, repellat itaque culpa eius velit sint asperiores harum quia, a fuga aliquam molestiae aut ad? Placeat quasi cum magni in assumenda officiis quaerat,
					</p>
					<button type="submit" class="readmore">Read More</button>
				</div>
			</div>
		</div>



		<div class="container-fluid mb-5">
			<div class="about-us-section row align-items-center">
				<div class="about-us-pic col-md-6 p-3">
					<img src="././assets/images/Forum-Pix.png" alt="" class="about-us-img w-100">
				</div>
				<div class="about-us-info col-md-6 p-3">
					<h2 class="about-us-heading font-weight-bold">Forum</h2>
					<p class="about-us-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim repudiandae dolor eos ex sapiente, quaerat labore, facere accusantium numquam sequi culpa magni aut ducimus explicabo dicta. Soluta molestias accusantium maxime qui officiis voluptates eaque dolore tempore omnis ullam quos dolorem, repellat itaque culpa eius velit sint asperiores harum quia, a fuga aliquam molestiae aut ad? Placeat quasi cum magni in assumenda officiis quaerat,
					</p>
					<button type="submit" class="readmore">Read More</button>
				</div>
			</div>
		</div>


		
		<div class="container-fluid mb-5">
			<div class="about-us-section row align-items-center">
				<div class="about-us-pic col-md-6 p-3">
					<img src="././assets/images/E-Farm-Pix.png" alt="" class="about-us-img w-100">
				</div>
				<div (window:resize)="switchViews($event)" class="about-us-info col-md-6 order-md-first p-3">
					<h2 class="about-us-heading font-weight-bold">E-farm</h2>
					<p class="about-us-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim repudiandae dolor eos ex sapiente, quaerat labore, facere accusantium numquam sequi culpa magni aut ducimus explicabo dicta. Soluta molestias accusantium maxime qui officiis voluptates eaque dolore tempore omnis ullam quos dolorem, repellat itaque culpa eius velit sint asperiores harum quia, a fuga aliquam molestiae aut ad? Placeat quasi cum magni in assumenda officiis quaerat, dignissimos molestias nulla. Ullam ratione quidem unde corrupti? Ducimus id consequuntur nesciunt ea numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, reprehenderit. 
					</p>
					<button type="submit" class="readmore">Read More</button>
				</div>
			</div>
		</div>

	</div>

</main>

<section class="contact-us-section">

	<h2 class="contact-heading text-center font-weight-bold mb-4">Contact Us</h2>
	<div class="content mx-auto">
		<form action="" class="contact-us-form w-100">
			<div class="contact-us-inline w-100">
				<input type="text" name="first-name" id="first-name" placeholder="First Name" class="contact-us-input mb-4 p-4 first-name d-block w-100 border">
				<input type="text" name="last-name" id="" placeholder="Last Name" class="contact-us-input mb-4 p-4 last-name d-block w-100 border">
			</div>
			<input type="text" name="email" id="" placeholder="Phone Number / Email Address" class="contact-us-input mb-4 p-4 email-address border d-block w-100">

			<div class="form-group">
				<label for="message"></label>
				<textarea name="message" id="enter-message" class="contact-us-input form-control border" cols="95" rows="7" placeholder="     Enter message"></textarea>
			  <!-- mb-4 p-4 text-area d-block w-100"> -->
		</div>
			<button type="submit" class="contact-us-submit border">Submit</button>
		</form>
	</div>

</section>


